/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require responsive-tables
 */

/*@import "foundation_and_overrides";*/
.largetable {
        overflow-x:scroll;
        overflow-y:visible;
        width:90%;
        margin-left: 120px;
    }


    .largetable td, th {
        padding: 5px 20px;
        width: 100px;
    }

    .largetable th:first-child {
        position: fixed;
        left: 5px;
        height: 74px;
        width: 115px;
        background: #F2F2F2;
        padding-top: 30px;
    }
    .largetable td:first-child {
        position: fixed;
        left: 5px;
        background: white;
        text-align: center!important;
        width: 115px;
        height: 40px;
        padding-left: 0;
        padding-right: 0;
    }

body{
	background-color: #dadada!important;
}

input.error{
	border: 1px solid #f04124!important;
}

label.error{
	color: white!important;
	padding: 0 10px;
	background-color: #f04124;
}

table .checkbox{
	margin:0!important;
}

.margint{
	margin-top: 10px!important;
}

.login{
	/*background-color: #888;*/
	margin-top: 5%;
	padding-left:25px!important;
	padding-right:25px!important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 6px 20px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 6px 20px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 6px 20px 0px rgba(50, 50, 50, 0.75);
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

.button:hover{
	background-color: #999999!important;
}

.success:hover{
	background-color: #999999!important;
}

.clearb{
	clear: both;
}
